    @import 'utils/variables';
    @import 'components/type';
     :root {
        --color-bg: #EEEEEE;
        --color-bg-offset: #181818;
        --color-text: #1C30DD;
        --color-text-offset: #EEEEEE;
        --color-primary: #000000;
    }
    
    body {
        background-color: var( --color-bg);
        font-family: neue-haas-grotesk-text, sans-serif;
        font-size: 18px;
        color: var( --color-text);
        transition: all 0.3s;
        line-height: 1.4;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .header {
        top: 0;
        height: 70px;
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index: 1;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-bg);
    }
    
    .main {
        max-width: 1920px;
        margin: 30px;
    }
    
    .section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: row;
        grid-column-gap: 25px;
        margin-top: 150px;
    }
    
    .section--intro {
        margin-bottom: 500px;
    }
    
    .section--text {
        margin-top: -150px;
    }
    
    .section--study__text {
        margin-top: -350px;
    }
    
    .mgrid-full {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .mgrid-start {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .mgrid-littlestart {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .mgrid-startleft {
        grid-column-start: 2;
        grid-column-end: -1;
    }
    
    .mgrid-center {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .mgrid-end {
        grid-column-start: 3;
        grid-column-end: -1;
    }
    
    .balimg {
        width: 100%;
        height: auto;
        margin-top: 20px;
        max-width: 100%;
    }
    
    .balimg--text {
        padding-bottom: 40px;
    }
    
    .balimg--intro {
        filter: brightness(75%);
        position: absolute;
        top: 2em;
        left: 0;
        transform: scale(1);
        z-index: -2;
    }
    
    .balimg--study {
        filter: brightness(100%);
    }
    
    .titre {
        position: relative;
        font-size: 57px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    
    .sstitre {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
    
    .titre--center {
        color: var(--color-text-offset);
        text-align: center;
        top: 0.5em;
    }
    
    .titre--study {
        line-height: 1;
        top: 1.2em;
    }
    
    .sstitre--study {
        line-height: 1.2;
        top: 1.5em;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    
    .sstitre--center {
        color: var(--color-text-offset);
        text-align: center;
        top: -1.8em;
    }
    
    .cont__bt {
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
    }
    
    .bt__bleu {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-text-offset);
        display: flex;
        width: 150px;
        height: 50px;
        background-color: var(--color-text);
        align-items: center;
        justify-content: space-around;
        border-radius: 51px;
        text-transform: uppercase;
        border: none;
    }
    
    .bt__blanc {
        font-size: 16px;
        font-weight: 600;
        color: var(--color-text);
        display: flex;
        width: 150px;
        height: 50px;
        background-color: none;
        align-items: center;
        justify-content: space-around;
        border-radius: 51px;
        text-transform: uppercase;
        border: solid var(--color-text) 2px;
    }
    
    .bt_bleu--intro {
        position: relative;
        top: -1em;
        text-align: center;
        width: 180px;
        height: 50px;
    }
    
    .footer {
        background-color: none;
        ;
    }
    
    .liste--footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        margin: 0;
        padding: 25px;
    }
    
    .logo {
        width: 50px;
        height: auto;
        margin-left: 20px;
    }
    
    .btn__dark {
        margin-right: 20px;
    }
    
    .line {
        width: 100%;
        height: 2px;
        background-color: var(--color-text);
    }
    
    .line--space {
        margin-top: 1.5em;
    }
    
    .minititre {
        font-size: 18px;
    }
    
    .bold {
        font-size: 21px;
        font-weight: 700;
    }
    
    .bold--big {
        font-size: 85px;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .backgroundblue {
        position: absolute;
        background-color: #1C30DD;
        width: 100%;
        height: 42em;
        z-index: -2;
        left: 0;
        margin-top: -20px;
    }
    
    .white {
        color: #EEEEEE;
    }
    
    @media (min-width: 1200px) {
        .main {
            margin: 60px;
        }
        .titre {
            font-size: 80px;
        }
        .titre--center {
            top: 1.2em;
        }
        .sstitre--center {
            top: 0.1em;
        }
        .section {
            grid-template-columns: repeat(9, 1fr);
            grid-column-gap: 30px;
            margin-top: 200px;
        }
        .section--study {
            margin-top: 350px;
        }
        .desktop-start {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .desktop-start2 {
            grid-column-start: 2;
            grid-column-end: 5;
        }
        .desktop-start3 {
            grid-column-start: 3;
            grid-column-end: 6;
        }
        .desktop-start4 {
            grid-column-start: 2;
            grid-column-end: 6;
        }
        .desktop-startleft {
            grid-column-start: 5;
            grid-column-end: -1;
        }
        .desktop-centre {
            grid-column-start: 5;
            grid-column-end: 6;
        }
        .desktop-full {
            grid-column-start: 1;
            grid-column-end: -1;
        }
        .cont__bt {
            justify-content: flex-start;
        }
        .bt__blanc {
            margin-right: 20px;
        }
        .bt_bleu--intro {
            top: 1em;
        }
        .cont__img {
            position: absolute;
            width: 100%;
            height: 500px;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -2;
            overflow: hidden;
        }
        .section--study__text {
            margin-top: -150px;
        }
        .cont__bold {
            margin-bottom: 400px;
        }
        .backgroundblue {
            background-color: #1C30DD;
            width: 100%;
            height: 32em;
            z-index: -2;
            left: 0;
            margin-top: -3em;
        }
        .balimg--text {
            margin-top: 15em;
        }
    }